.bg-color {
  background-color: #d8c7c7;
}

.page-container {
  display: grid;
  grid-template-columns: 110px auto;
  min-height: 100vh;
}

nav {
  //vertical navbar
  display: grid;
  grid-template-rows: 50px auto;
  width: 70px;
  background-color: #343a40;

  transition: 0.25s;
  &:hover {
    width: 250px;
  }

  .nav-routes {
    display: flex;
    flex-direction: column;
    padding: 1px;

    a {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;
      align-items: center;
      width: 300px;

      padding: 15px 10px;
      text-align: center;
      color: #d8c7c7;
      text-decoration: none;

      &:hover {
        background: #fff1;
      }

      img {
        height: 40px;
      }
      span {
        text-align: left;
      }
    }
  }
}

.brand {
  margin-top: 10px;
  letter-spacing: 0.2em;
  font-weight: bold;
  a {
    color: #d8c7c7;
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    padding: 15px;
  }

  &:hover {
    text-decoration: none;
    color: rgb(189, 231, 245);
    letter-spacing: 0.7em;
  }
}

body {
  min-height: 100vh;
}

.delete-btn {
  align-content: flex-end;
}

.white-text {
  color: white;
}

.quote-feed {
  padding-top: 15em;
  border-radius: 25px;
}




.calendar {
  //calendar styling
  display: block !important;
  font-size: 1.4em;
  width: 42em !important;
  border: none;
  line-height: 4.5em;
  background-color: rgb(189, 231, 245);

  &:hover {
    display: block !important;

    //more visual flare would be added later on
  }
}
